# Utilizing GPU for Accelerated Training in Deep Learning Models

The use of GPUs for training deep learning models is a game-changer in the field of machine learning. By leveraging the parallel processing capabilities of GPUs, we can significantly reduce training times, improve model performance, and enable the handling of large datasets and complex models. This script not only demonstrates the practical steps involved in training a deep learning model using PyTorch but also emphasizes the importance and benefits of GPU acceleration in the modern machine learning landscape.

In [1]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import numpy as np
import json

In [2]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load the data
df = pd.read_csv("/content/drive/MyDrive/GPUdata/adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
# Replace '?' with nan values and drop rows withn nan values
df.replace('?', np.nan, inplace=True)
df.dropna(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [7]:
# Encode the target variable
df['income'] = df['income'].map({'<=50K' : 0, '>50K' : 1})

df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0

In [8]:
# Identify categorical columns
categorical_columns = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "gender", "native-country"]

# Initilaize dictionnary to store label encodings
label_encodings = {}

# Encoding categorical variables with label encoding and save encodings
for col in categorical_columns:
    label_encoder = LabelEncoder()
    df[col] = label_encoder.fit_transform(df[col])
    # Convert values to int for JSON serialization
    label_encodings[col] = {str(key): int(value) for key, value in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))}



df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2,226802,1,7,4,6,3,2,1,0,0,40,38,0
1,38,2,89814,11,9,2,4,0,4,1,0,0,50,38,0
2,28,1,336951,7,12,2,10,0,4,1,0,0,40,38,1
3,44,2,160323,15,10,2,6,0,2,1,7688,0,40,38,1
5,34,2,198693,0,6,4,7,1,4,1,0,0,30,38,0

In [9]:
# Save the encodings for future use
with open('label_encodings.json', 'w') as f:
    json.dump(label_encodings, f)

In [10]:
# Split the data into features and target
X = df.drop('income', axis=1).values
y = df['income'].values

In [11]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
# Convert to PyTorch tensors
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train, dtype=torch.float32).view(-1, 1)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test, dtype=torch.float32).view(-1, 1)

In [14]:
# Create DataLoader
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)
train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)

In [15]:
# Check if GPU is available
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print(f'Using device: {device}')

Using device: cuda

In [16]:
# Define the neural network model
class IncomeClassifier(nn.Module):
    def __init__(self, input_size):
        super(IncomeClassifier, self).__init__()
        self.fc1 = nn.Linear(input_size, 128)
        self.fc2 = nn.Linear(128, 64)
        self.fc3 = nn.Linear(64, 1)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.sigmoid(self.fc3(x))
        return x

In [17]:
# Initialize the model, loss function, and optimizer
input_size = X_train_tensor.shape[1]
model = IncomeClassifier(input_size).to(device)

criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [18]:
# Define training and evaluation functions
def train_model(model, train_loader, criterion, optimizer, device):
    model.train()
    running_loss = 0.0
    for X_batch, y_batch in train_loader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)

        # Zero the gradients
        optimizer.zero_grad()

        # Forward pass
        outputs = model(X_batch)
        loss = criterion(outputs, y_batch)

        # Backward pass and optimization
        loss.backward()
        optimizer.step()

        running_loss += loss.item() * X_batch.size(0)

    epoch_loss = running_loss / len(train_loader.dataset)
    return epoch_loss

In [19]:
def evaluate_model(model, test_loader, criterion, device):
    model.eval()
    running_loss = 0.0
    correct = 0
    with torch.no_grad():
        for X_batch, y_batch in test_loader:
            X_batch, y_batch = X_batch.to(device), y_batch.to(device)

            # Forward pass
            outputs = model(X_batch)
            loss = criterion(outputs, y_batch)

            # Compute accuracy
            predicted = outputs.round()
            correct += (predicted == y_batch).sum().item()

            running_loss += loss.item() * X_batch.size(0)

    epoch_loss = running_loss / len(test_loader.dataset)
    accuracy = correct / len(test_loader.dataset)
    return epoch_loss, accuracy

In [20]:
# Train and evaluate the model
num_epochs = 20

for epoch in range(num_epochs):
    train_loss = train_model(model, train_loader, criterion, optimizer, device)
    test_loss, test_accuracy = evaluate_model(model, test_loader, criterion, device)

    print(f'Epoch {epoch+1}/{num_epochs}')
    print(f'Train Loss: {train_loss:.4f}')
    print(f'Test Loss: {test_loss:.4f}')
    print(f'Test Accuracy: {test_accuracy:.4f}')
    print('-' * 30)

Epoch 1/20
Train Loss: 0.3696
Test Loss: 0.3292
Test Accuracy: 0.8484
------------------------------
Epoch 2/20
Train Loss: 0.3338
Test Loss: 0.3276
Test Accuracy: 0.8490
------------------------------
Epoch 3/20
Train Loss: 0.3295
Test Loss: 0.3258
Test Accuracy: 0.8481
------------------------------
Epoch 4/20
Train Loss: 0.3278
Test Loss: 0.3228
Test Accuracy: 0.8503
------------------------------
Epoch 5/20
Train Loss: 0.3255
Test Loss: 0.3242
Test Accuracy: 0.8498
------------------------------
Epoch 6/20
Train Loss: 0.3237
Test Loss: 0.3228
Test Accuracy: 0.8488
------------------------------
Epoch 7/20
Train Loss: 0.3224
Test Loss: 0.3222
Test Accuracy: 0.8505
------------------------------
Epoch 8/20
Train Loss: 0.3205
Test Loss: 0.3218
Test Accuracy: 0.8505
------------------------------
Epoch 9/20
Train Loss: 0.3190
Test Loss: 0.3201
Test Accuracy: 0.8515
------------------------------
Epoch 10/20
Train Loss: 0.3174
Test Loss: 0.3215
Test Accuracy: 0.8512
------------------------------
Epoch 11/20
Train Loss: 0.3158
Test Loss: 0.3203
Test Accuracy: 0.8520
------------------------------
Epoch 12/20
Train Loss: 0.3147
Test Loss: 0.3197
Test Accuracy: 0.8530
------------------------------
Epoch 13/20
Train Loss: 0.3137
Test Loss: 0.3231
Test Accuracy: 0.8545
------------------------------
Epoch 14/20
Train Loss: 0.3130
Test Loss: 0.3218
Test Accuracy: 0.8510
------------------------------
Epoch 15/20
Train Loss: 0.3121
Test Loss: 0.3203
Test Accuracy: 0.8499
------------------------------
Epoch 16/20
Train Loss: 0.3114
Test Loss: 0.3191
Test Accuracy: 0.8498
------------------------------
Epoch 17/20
Train Loss: 0.3099
Test Loss: 0.3207
Test Accuracy: 0.8502
------------------------------
Epoch 18/20
Train Loss: 0.3089
Test Loss: 0.3219
Test Accuracy: 0.8514
------------------------------
Epoch 19/20
Train Loss: 0.3080
Test Loss: 0.3209
Test Accuracy: 0.8491
------------------------------
Epoch 20/20
Train Loss: 0.3073
Test Loss: 0.3174
Test Accuracy: 0.8513
------------------------------